In [1]:
import os
import pandas as pd

In [16]:
df_detectseq = pd.read_csv('./bed/DetectSeq_vs_DigenomeSeq_base-on_DetectSeq_HEK4.csv', header=None, sep='\t')
# df_detectseq
df_digenomeseq = pd.read_csv('./bed/DetectSeq_vs_DigenomeSeq_base-on_DigenomeSeq_HEK4.csv', header=None, sep='\t')
df_digenomeseq

,0,1,2,3,4,5,6,7,8,9,10,11
0,chr20,32761950,32761972,DigenomeSeq-HEK4-on-target,19.26,+,chr20,32761950,32761972,HEK239T-site4-on-target,115,+
1,chr6,160096843,160096865,DigenomeSeq-HEK4-off-target-1,15.45,-,chr6,160096843,160096865,HEK239T-site4-Detect-off-target-15,88,-
2,chr6,168386442,168386463,DigenomeSeq-HEK4-off-target-2,15.37,+,chr6,168386442,168386464,HEK239T-site4-Detect-off-target-27,59,+
3,chr19,32891169,32891191,DigenomeSeq-HEK4-off-target-3,13.83,-,chr19,32891169,32891191,HEK239T-site4-Detect-off-target-20,88,-
4,chr20,61505481,61505503,DigenomeSeq-HEK4-off-target-4,12.71,+,chr20,61505481,61505503,HEK239T-site4-Detect-off-target-83,70,+
...,...,...,...,...,...,...,...,...,...,...,...,...
62,chr5,139904456,139904478,DigenomeSeq-HEK4-off-target-62,0.12,-,.,-1,-1,.,-1,.
63,chr8,118214890,118214912,DigenomeSeq-HEK4-off-target-63,0.12,+,.,-1,-1,.,-1,.
64,chr14,95294906,95294928,DigenomeSeq-HEK4-off-target-64,0.11,-,.,-1,-1,.,-1,.
65,chr3,23610022,23610044,DigenomeSeq-HEK4-off-target-65,0.11,+,.,-1,-1,.,-1,.
66,chr12,9134803,9134825,DigenomeSeq-HEK4-off-target-66,0.10,+,.,-1,-1,.,-1,.

In [17]:
df_detectseq_only = df_detectseq[df_detectseq.iloc[:,7] == -1][[0,1,2]].copy()
df_detectseq_sharewith_digenomeseq = df_detectseq[df_detectseq.iloc[:,7] != -1][[0,1,2]].copy()
df_digenomeseq_only = df_digenomeseq[df_digenomeseq.iloc[:,7] == -1][[0,1,2]].copy()
df_digenomeseq_sharewith_detectseq = df_digenomeseq[df_digenomeseq.iloc[:,7] != -1][[0,1,2]].copy()

In [18]:
df_detectseq_only.iloc[:,1] = df_detectseq_only.iloc[:,1] - 80
df_detectseq_only.iloc[:,2] = df_detectseq_only.iloc[:,2] + 80
df_detectseq_only.head()

        0          1          2
1    chr9  108855909  108856091
3    chr1  109486969  109487151
7    chr1   55352355   55352537
9    chr5    1230141    1230323
10  chr11   72632743   72632925

In [19]:
df_digenomeseq_only.iloc[:,1] = df_digenomeseq_only.iloc[:,1] - 80
df_digenomeseq_only.iloc[:,2] = df_digenomeseq_only.iloc[:,2] + 80
df_digenomeseq_only.head()

        0          1          2
5    chr5  141853191  141853373
9   chr15   71394503   71394685
12   chr8   20996903   20997085
19   chr2    6821028    6821210
22   chr9    5020494    5020676

In [20]:
df_detectseq_sharewith_digenomeseq.shape

(32, 3)

In [21]:
df_digenomeseq_sharewith_detectseq.shape

(32, 3)

In [22]:
# 所以用其中一个即可！
df_share = df_detectseq_sharewith_digenomeseq

In [23]:
df_share.iloc[:,1] = df_share.iloc[:,1] - 80
df_share.iloc[:,2] = df_share.iloc[:,2] + 80
df_share.head()

       0         1         2
0  chr20  32761870  32762052
2  chr19   2474558   2474740
4  chr13  27055187  27055369
5  chr18  39614508  39614690
6  chr20  46714275  46714457

In [24]:
df_detectseq_only.to_csv('./bed/DetectSeq_vs_DigenomeSeq_Final-DetectSeqOnly_HEK4.bed', header=False, index=False, sep='\t')
df_digenomeseq_only.to_csv('./bed/DetectSeq_vs_DigenomeSeq_Final-DigenomeSeqOnly_HEK4.bed', header=False, index=False, sep='\t')
df_share.to_csv('./bed/DetectSeq_vs_DigenomeSeq_Final-DetectSeqShareWithDigenomeSeq_HEK4.bed', header=False, index=False, sep='\t')

## select random region and remove overlap regions

In [8]:
# mysql --user=genome --host=genome-mysql.cse.ucsc.edu -A -e \
#         "select chrom, size from hg38.chromInfo"  > hg38.genome
        
        
# bedtools random -seed 20201119 -l 180 -n 100 -g hg38.genome > ./bed/random_seed-20201119_l-180_n-100_hg38.bed


# cat DetectSeq_vs_DigenomeSeq_Final-DetectSeqOnly_HEK4.bed DetectSeq_vs_DigenomeSeq_Final-DetectSeqShareWithDigenomeSeq_HEK4.bed DetectSeq_vs_DigenomeSeq_Final-DigenomeSeqOnly_HEK4.bed > all_find_region.bed

# bedtools intersect -a random_seed-20201119_l-180_n-200_hg38.bed -b all_find_region.bed -loj | awk -F '\t' '{if( $8==-1 ){print $0}}' > final_random_seed-20201119_l-180_n-200_hg38.bed

In [15]:
with open('../bed/fasta_info_for_remove_N_bed.fa') as f:
    TXT = f.read()
TXT[:1000]

'>chr6:133070507-133070687\nACTGAACATAGATTTATTGCCAATGACTTTTGTAAGGCGGGTGGATTGAGGCTGCTAATGTAGGTTTATGAGTACAGCTGGTCCATTTAACAGCAGGTTTATAGGCACTCCTCAAGAGCGGCCCATGTCTGTAGAAGGTATGGTATCACACAGACTGTTGGACAGATGGGCCCATCTATG\n>chr13:51989834-51990014\nCTCTAATAACACTCTGTATTTCAAGCCTTTCCCAACAAAGAGGTTTTATTTATTTATTTTTTTTACTCTGTACTCCAAGGAGTATTGGTTTCTGCCTAGAATTATAGGTATGACACATAAAACAAATGTATTCCTTTAAGACATGTACAAACCTAATGTTTATAAATTAGCACTACTCTA\n>chr13:108676738-108676918\nagaggcgtggTTTGTTACTCTGGTAGTCCCAGGGTCAGCAGTTCCCAGAATGGGAAATGTACTTGCTTTCTGCTGTGTCTACTGTGTCTTTGCTCCAGGGATTCCCCAACCCGCCAGGAACACCCTTCCTCCATTCCTTGCAGATGTACCTCTCCTCTCCCCTGCGGAGCCCTCCCCGAC\n>chrY:33927738-33927918\nNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\n>chr1:149553584-149553764\nCAGTTTCTGGGAGAAAAACCGAGGAATTTCTATCATGACCAGCCTTCAGGCCTCCTGAAATATATCTCTCACAGTGTCCTATTCTTATGCTGAGGAGCCTGAGGTCCCTGTGTGAGGATTAGACAGTGGATTGTTATGTGTGTAGGGG'

In [25]:
ls_random_bed = [ [i.split('\n')[0].split(':')[0], i.split('\n')[0].split(':')[1].split('-')[0], i.split('\n')[0].split(':')[1].split('-')[1]] for i in TXT.split(">") if i != '' and 'N' not in i and 'n' not in i]
ls_random_bed[:5]

[['chr6', '133070507', '133070687'],
 ['chr13', '51989834', '51990014'],
 ['chr13', '108676738', '108676918'],
 ['chr1', '149553584', '149553764'],
 ['chr3', '135813307', '135813487']]

In [27]:
df_random = pd.DataFrame(ls_random_bed)

df_random.head()

       0          1          2
0   chr6  133070507  133070687
1  chr13   51989834   51990014
2  chr13  108676738  108676918
3   chr1  149553584  149553764
4   chr3  135813307  135813487

In [28]:
df_random.shape

(172, 3)

In [29]:
df_random.to_csv('../bed/DetectSeq_vs_DigenomeSeq_Final-Random.bed', header=False, index=False, sep='\t')